.page {
    &-header {
        &-title {
            display: inline-block;
        }
        &-subtitle {
            margin: 0;
            padding: 28px 0 25px;
            font-size: 14px;
            float: right;
        }
    }
}
